{% extends "base.html" %}
{% block title %}Other Locations{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
    #map {
        width: 123%;
        height: 407px;
        margin-bottom: 20px;
        margin-left: -159px;
        border-radius:20px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .company-header {
        {% comment %} background-color: rgba(255, 255, 255, 0.8); {% endcomment %}
        {% comment %} background-image: linear-gradient(180deg, #000000 10%, #27396d 100%);
        color: #fff; {% endcomment %}
        padding: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 20px;
    }

    h1,
    h1 {
        font-size: 2.0rem;
    }

    .company-details {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        width: 125%;
        margin-left: -170px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .company-details:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add shadow on hover */
    }

    .company-details h2 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
    }

    .company-details p {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .location-list {
        height: 420px; /* Set height to match the map */
        overflow-y: auto; /* Enable vertical scroll */
    }

    .location-item {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .location-item h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 18px;
        color: #333;
    }

    .location-item p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .recommendation-card {
        margin-left:20px;
        width: 430px; /* Set height to match the map */
        height: 666px;
    overflow-y: auto; /* Enable vertical scroll */
    background-color: rgba(255, 255, 255, 0.8);
    }
    

    .recommendation-item {
        background-color: rgba(255, 255, 255, 0.2);
        background-color: #fff; 
        border-radius: 5px;
        padding: 10px;
        color: black;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .recommendation-item:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add shadow on hover */
    }

    .recommendation-item h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 18px;
        color: #333;
    }

    .recommendation-item p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    a {
        color: black; /* Set text color to black */
        text-decoration: none; /* Remove underline */
    }
    @media (max-width: 768px) {
        .recommendation-card {
            width: 100%; /* Adjust width for smaller screens */
            margin-left: 0; /* Remove left margin */
            margin-top: 20px; /* Add some top margin */
        }
    }

    @media (max-width: 768px) {
        .company-details {
            width: 100%; /* Adjust width for smaller screens */
            margin-left: 0; /* Remove left margin */
            margin-top: 20px; /* Add some top margin */
        }
    }
    @media (max-width: 768px) {
        #map {
            width: 100%; /* Adjust width for smaller screens */
            margin-left: 0; /* Remove left margin */
            margin-top: 20px; /* Add some top margin */
        }
    }
    
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Display company details -->
            <div class="company-details">
                <div class="company-header">
                <h1><strong>{{ job.company_name }}</strong></h1>
                </div>
                {% comment %} <h2>Company Details</h2> {% endcomment %}
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Website:</strong> <a href="{{ job.website }}">{{ job.website }}</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Job Location:</strong> {{ job.job_location }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Employees:</strong> {{ job.employees }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Locations:</strong> {{ job.locations }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Job Type:</strong> {{ job.job_type }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Founded:</strong> {{ job.founded }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Revenue:</strong> {{ job.revenue }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Industry:</strong> {{ job.industry }}</p>
                    </div>
                </div>
            </div>
            <div id="map"></div>

            
             
        </div>
        <div class="col-md-4">
            <!-- Display recommendation cards -->
            <div class="card recommendation-card">
                <div class="card-body">
                    <h2>Recommendations based on Industry</h2>
                    <div class="recommendation-list">
                        {% for company in random_companies %}
                        <div class="recommendation-item">
                            <a href="{% url 'Alllocations' company_name=company.company_name %}" >
                          
                            <h4><strong>{{ company.company_name }}</strong></h4>
                            <p><strong>Industry:</strong> {{ company.industry }}</p>
                            <p><strong>Location:</strong> {{ company.job_location }}</p>
                            <p><strong>Employees:</strong> {{ company.employees }}</p>
                            <p><strong>More Locations: </strong><a href="{% url 'Alllocations' company_name=job.company_name %}">{{ job.locations }}</a></p>
                   
                        </div>
                    </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // JavaScript to initialize the map and add markers for locations
    var locations = [
        {% for location in locations %}
        { "name": "{{ location.location_name }}", "address": "{{ location.address }}", "lat": {{ location.latitude }}, "lon": {{ location.longitude }} },
        {% endfor %}
    ];

    var map = L.map('map');

    var coordsArray = [];
    locations.forEach(function(loc) {
        coordsArray.push([loc.lat, loc.lon]);
    });

    var bounds = L.latLngBounds(coordsArray);
    map.fitBounds(bounds);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    locations.forEach(function(loc) {
        L.marker([loc.lat, loc.lon]).addTo(map)
            .bindPopup('<b>' + loc.name + '</b><br>' + loc.address);
    });
</script>

{% endblock body %}




