{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

{% load static %}

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      search <br>
                      And Add Your company
                    </h1>
                    <p>
                      Make your carrer shine online with a company just for you .  Get inspired and start planning for the perfect company .
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{%static 'images/logomai.png'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Crypto <br>
                      Currency
                    </h1>
                    <p>
                      Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{%static 'images/slider-img.png'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Crypto <br>
                      Currency
                    </h1>
                    <p>
                      Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{%static 'images/slider-img.png'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        {% comment %} <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol> {% endcomment %}
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
           we preovide service where you find companies and add your company in digital world
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s1.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                 Companies
                </h5>
                <p>
                  We're a thriving community for workplace conversations, driven by a simple mission: helping people everywhere find companies they love
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s2.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Security 
                </h5>
                <p>
                  we provide Security where your data fully Secure. your details will be all yours no one else will have access to your data.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  digital Support
                </h5>
                <p>
                  you can watch  all the companies and their details.also if u have startup you can add your company here 
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          helping people everywhere  companies they love
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/about-img.png'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              Let’s get to work
             
            </h3>
            <p>
              <h3>
                <br>
                We Are CorprateHUB,
              </br>
            </h3>
              Welcome to CorprateHUB, where innovation and dedication converge to redefine industry standards.<br>
At CorprateHUB, we're more than a company - we're a tight-knit community committed to excellence.<br>
Discover the inspiring journey of CorprateHUB, where every idea ignites a revolution in our field.<br>
Founded on the values of integrity and ingenuity, CorprateHUB continues to lead the way in our industry.<br>
Join us as we embark on our mission at CorprateHUB: to inspire, innovate, and make a lasting impact.<br>
At CorprateHUB, our clear mission drives us forward: to inspire, innovate, and create change.
            </p>
          
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="{%static 'images/w1.png'%}" alt="">
          </div>
          <div class="detail-box">
            {% comment %} <h5>
              Expert Management
            </h5> {% endcomment %}
            <p>
              a powerful way to showcase the unique qualities of your business and give potential customers insight into your values and mission. In today's market, customers want to know more about the businesses they interact with beyond basic products or services.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{%static 'images/w2.png'%}" alt="">
          </div>
          <div class="detail-box">
            
            <p>
              we provide you secure platform.wher you can add your company details securely.your data will be secure.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{%static 'images/w3.png'%}" alt="">
          </div>
          <div class="detail-box">
           
            <p>
              Because we’ll make you more money with customer-focused.make your company a digital Support.with the help of us you can add your company in digital world without any cost.
            </p>
          </div>
        </div>
        {% comment %} <div class="box">
          <div class="img-box">
            <img src="{%static 'images/w4.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Happy Customers
            </h5>
            <p>
              Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
              Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
            </p>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- team section -->
  {% comment %} <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Our <span> Team</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'images/aman.jpeg' %}" class="img1" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Partiyaksh 
                        </h5>
                        <p>
                            Backend Developer
                        </p>
                    </div>
                    <div class="social_box">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="box">
                    <div class="img-box">
                      <img src="{% static 'images/desginer.jpg' %}" class="img1" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Anisha Garg
                        </h5>
                        <p>
                            UI/UX Designer
                        </p>
                    </div>
                    <div class="social_box">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- Add more cards here -->
        </div>
    </div>
    
          
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->


  <!-- client section -->

 
  <!-- end client section -->


  <!-- info section -->
  {% endblock body %}
